.body-usuarios {
  background: #222a31;
  background-position: top;
  background-size: cover;
  overflow-y: auto;
  .contenedor-search {
    background: url(../images/background-users.png) no-repeat;
    background-size: cover;
    padding: 110px 2rem 30px 2rem;
    border-radius: 0 0 35px 35px;
    .search {
      display: flex;
      align-items: center;
      img {
        width: 25px;
      }
      .form-control {
        background: #222a31;
        line-height: 2;
        border-color: transparent;
        border-radius: .7rem;
        color: rgba(221, 221, 255, .5);
        font-size: .8rem;
        margin-right: .7rem;
        padding: .6rem .8rem;
        &:focus {
          background: #222a31;
          border-color: transparent;
          box-shadow: 0 0 0 2px rgb(54, 69, 64);
          color: rgba(221, 221, 255, .5);
        }
      }
    }
  }
  .contenedor-ppal {
    height: 100%;
    padding-bottom: 60px;
    .contenedor-usuarios {
      margin: 0 2rem;
      padding: .5rem;
      background-color: #373D44;
      border-radius: .7rem;
      a {
        text-decoration: none;
      }
      .item-usuarios {
        display: flex;
        align-items: center;
        img {
          width: 20%;
        }
        .text-usuarios {
          p {
            margin-bottom: 0;
            padding-left: .5rem;
          }
          .title-usuarios {
            color: #fff;
          }
          .descrip-usuarios {
            color: rgba(221, 221, 255, .4);
          }
        }
      }
    }
    .red-circle {
      background-color: #900;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      position: fixed;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(-50%) translateY(-115%);
      img {
        width: 40%;
      }
    }
  }
}