.menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  img {
    height: 30px;
  }
  .title {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
  button {
    background: rgba(21, 25, 29, .35);
    border-color: transparent;
    border-radius: 5px;
    padding: .6rem;
    img {
      width: 85%;
      height: auto;
    }
  }
}