<nav>
  <ul>
    <li class="list-bar">
      <a href="#" class="calendar">
        <img src="assets/images/calendar-active.png" alt="calendar">
        <p>Calendario</p>
      </a>
    </li>
    <li class="list-bar">
      <a href="#">
        <img src="assets/images/report.png" alt="report">
        <p>Reportes</p>
      </a>
    </li>
    <li class="list-bar">
      <a href="#">
        <img src="assets/images/services.png" alt="services">
        <p>Servicios</p>
      </a>
    </li>
  </ul>
</nav>