<div class="menu">
  <button id="open">
    <img src="assets/images/menu.png" alt="menu">
    <span class="notificacion-icon">2</span>
  </button>
  <h5 class="title">@@title</h5>
  <img src="assets/images/logo-watermark.png" alt="logo">
</div>

<div class="menu-open">
  <div id="close" class="icon-close">
    <img src="assets/images/close.svg" alt="close">
  </div>
  <div class="contenedor-menu">
    <h1>Menu</h1>
    <ul>
      <hr>
      <li>
        <a href="#">
          Calendario
        </a>
      </li>
      <hr>
      <li>
        <a href="#">
          Notificaciones
        </a>
        <span class="notificacion">2</span>
      </li>
      <hr>
      <li>
        <a href="#">
          Sobre Nosotros
        </a>
      </li>
      <hr>
      <li>
        <a href="aviso-legal.html">
          Aviso Legal
        </a>
      </li>
      <hr>
      <li>
        <a href="#">
          Cerrar Sesión
        </a>
      </li>
      <hr>
    </ul>
    <div class="text-center">
      <img class="logo-menu" src="assets/images/logo.png" alt="logo forward">
    </div>
    <div class="redes">
      <a href="#">
        <img src="assets/images/tw.png" alt="twitter">
      </a>
      <a href="#">
        <img src="assets/images/yt.png" alt="youtube">
      </a>
      <a href="#">
        <img src="assets/images/fb.png" alt="facebook">
      </a>
      <a href="#">
        <img src="assets/images/ig.png" alt="instagam">
      </a>
    </div>
  </div>
</div>